
.hidden { display: none; }
* {
    border: none;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body { 
    font-size: 16px;
    background-color:rgb(153, 149, 95);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../images/hero_img.JPEG);
    background-repeat: no-repeat;
    background-size:contain;


    
}

header > h1 { text-align:center;  }
header {
    background-color:rgb(153, 149, 95);
    position: relative;
    top: 0;
    text-align:left;
   }
   header nav { position: relative; }

header nav ul { 
  list-style-type: none; 
  position: absolute; 
  color: rgb(255, 255, 255);
  top: -45px; 
  right: 200px; 
}

header nav ul li { 
  margin: 0 30px; 
  display: inline-block;
  cursor: pointer;
}

    #main-logo { width: 150px; padding: 10px 0;
    }
article { 
    width: 25%; 
    border: 4px solid white; 
    background-color: black;
    border-radius: 8px; 

    display: inline-block;
    

    text-align: left;
}

main { text-align: center; }

article > h2 { color: rgb(153, 149, 95);background-color: black;  text-align: center; }

article:first-of-type { border: 4px solid rgb(255, 255, 255); }
.property{
    padding-bottom: 100px;
}


ul { list-style-type: none; }

ul li { padding: 6px 8px; text-transform: uppercase; }

.locations li:nth-child(odd) { background-color:rgb(153, 149, 95)}

.property li:nth-child(odd) { background-color: rgb(153, 149, 95)}

.done li:nth-child(odd) { background-color:rgb(153, 149, 95)}
input [type="checkbox"] { margin-right: 15px;}

input[type="checkbox"]:checked+span::after{
    content: '\2713';
    padding: 1px;
    border-radius: 90%;
    background-color: rgb(21, 194, 21);
    border: 2px solid rgb(177, 15, 15);
}
.sticky_footer {
    position:relative;
    bottom:100%;
    height: 30px;
    font-size: 24px;
    text-align: center;
    padding-bottom: 100px;
    margin-top: 20px;
    font-style:inherit;
}
